<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="#">
      <strong>App piano angular</strong>
    </a>
  </div>
</nav>
<div class="container p-3 text-center">
  <div class="list-group">
    <a  (click)="aplicarSonido(1)" class="list-group-item list-group-item-action list-group-item-primary">DO</a>
    <a  (click)="aplicarSonido(2)" class="list-group-item list-group-item-action list-group-item-secondary">RE</a>
    <a (click)="aplicarSonido(3)"  class="list-group-item list-group-item-action list-group-item-success">MI</a>
    <a  (click)="aplicarSonido(4)" class="list-group-item list-group-item-action list-group-item-danger">FA</a>
    <a  (click)="aplicarSonido(5)" class="list-group-item list-group-item-action list-group-item-warning">SOL</a>
    <a  (click)="aplicarSonido(6)" class="list-group-item list-group-item-action list-group-item-info">LA</a>
    <a  (click)="aplicarSonido(7)" class="list-group-item list-group-item-action list-group-item-light">SI</a>
  </div>
</div>
